@charset "UTF-8";

.submitbtn {
    margin-top: 10px;
    margin-left: 600px;
}
.resetbtn {
	margin-top: 10px;
	margin-left: 5px;
}

button {
    display: flex;
    margin-top: 20px;
    margin-left: 45%;
    border-radius: 15px;
    border: none;
}