@charset "UTF-8";

@font-face {
	font-family: 'Pretendard-Regular';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;


}

section {
	width: 100vw;
	height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form-control {
	background-color: transparent;
	border: none;
	width: 370px;
	height: 28px;
	outline: none;
}

#submitButton {
	background-color: #C24B4B;
	transition: all ease-in-out 0.15s;
	cursor: pointer;
	border-radius: 20px;
	border-collapse: collapse;
	color: white;
	font-size: 20px;
	border: none;
	padding: 15px;
}

#submitButton:hover {
	background-color: #D17D7D;
}

#submitButton:active {
	background-color: #E4C8C8;
}

#banner {
	font-size: 40px;
}


#validEmail {
	font-size: 11px;
	color: red;
}

#banner,
#welcomeTitle {
	color: #742323;
}

.flex-container {
	display: flex;
	flex-direction: row;
}

#existingLogin {
	color: #D17D7D;
}


#validEmail {
	border: none;
	width: 450px;
	height: 28px;
}

#inputEmail {
	border: none;
	width: 370px;
	height: 28px;
}

#inputEmail,
#inputPassword,
#pwdck {
	background-color: transparent;
	/* 배경 투명하게 설정 */
	border: none;
	/* 테두리 제거 */
}


hr {
	border: 1.5px solid #9B9393;
}

.hide {
	display: none;
}