@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
   
    
}

header {
    
    width: 100vw;
    height: 60px;
    padding: 0 50px 0 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
	z-index: 100;
    
    background-color:white;
    box-shadow: 0px 4px 4px rgba(69, 61, 61, 0.15);
}

a {
	text-decoration: none;
	color: black;
}


.h-logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.h-logo-name {
    font-size: 25px;
    margin: 0;
    text-decoration: none;
	color: black;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header-right a{
    margin-left: 15px;
    color: black;
    font-weight: 500;
    text-decoration: none;
    line-height: 60px;
}

.header-right img {
    margin-top: 15px;
    width: 30px;
    border-radius: 50%;
}

.header-right {
    display: flex;
}

