@charset "UTF-8";

@font-face {
	font-family: 'Pretendard-Regular';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;


}

section {
	width: 100vw;
	height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container {
	text-align: center;
}



#submitButton {
	background-color: #C24B4B;
	transition: all ease-in-out 0.15s;
	cursor: pointer;
	border-radius: 20px;
	border-collapse: collapse;
	color: white;
	font-size: 20px;
	border: none;
	padding: 15px;
}

#validButton {
	background-color: #C24B4B;
	transition: all ease-in-out 0.15s;
	cursor: pointer;
	border-radius: 13px;
	border-collapse: collapse;
	color: white;
	font-size: 14px;
	border: none;
	width: 75px;
	height: 23px;
	margin-top: 30px;

}

#validButton:hover {
	background-color: #D17D7D;
}

#validButton:active {
	background-color: #E4C8C8;
}

#submitButton:hover {
	background-color: #D17D7D;
}

#submitButton:active {
	background-color: #E4C8C8;
}

#banner {
	font-size: 40px;
}

#emailbanner,
#passwordbanner,
#checkAccount,
#existingLogin,
#validEmail,
#validPassword,
#validPasswordck {
	font-size: 14px;
}

#validEmail,
#validPassword,
#validPasswordck {
	font-size: 11px;
	color: red;
}

#welcomeTitle {
	font-size: 16px;
}

#banner,
#welcomeTitle {
	color: #742323;
}

.flex-container {
	display: flex;
	flex-direction: row;
}

#kakaoIcon {
	border-radius: 200px;
}

#existingLogin {
	color: #D17D7D;
}

#inputPassword,
#inputPasswordck,
#validEmail,
#validPassword,
#validPasswordck {
	border: none;
	width: 450px;
	height: 28px;
}

#inputEmail {
	border: none;
	width: 370px;
	height: 28px;
}

#inputEmail, #inputPassword, #pwdck {
	background-color: transparent;
	/* 배경 투명하게 설정 */
	border: none;
	/* 테두리 제거 */
}


hr {
	border: 1.5px solid #9B9393;
}



#validEmail {
	margin-left: -55px;
}

#validPassword {
	margin-left: 36px;
}

#validPasswordck {
	margin-left: -56px;
}

.hide {
	display: none;
}