@charset "UTF-8";

@font-face {
	font-family: 'Pretendard-Regular';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

* {
	box-sizing: border-box;
}

/* 헤더 밑 영역 */
section {
	width: 100vw;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

.left {
	width: 75vw;
	height: 100%;
}

.right {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 25vw;
	height: 100%;
	background-color: #FFF4F4;
	justify-content: center;
}

.login-logo img {
	width: 70px;
	height: 70px;
}

.login-logo {
	display: flex;
	align-items: center;
	margin-bottom: 50px;
}

.login-logo p {
	font-size: 80px;
	margin: 0;
	color: #000000;
}

.login-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-top: 120px;
}

form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 20px;
}

#validEmail,
#validPassword {
	font-size: 11px;
	color: red;
}

form fieldset ul .email_error {
	border: 0px;
}

form fieldset ul .pw_error {
	border: 0px;
}

form fieldset ul li {
	display: flex;
	flex-flow: row nowrap;
	margin-bottom: 10px;
}

form fieldset ul li span {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: end;
}

form fieldset ul li span input {
	position: relative;

	width: 100%;
	height: 44px;

	outline: none;
	background-color: #FFF4F4;
	border: none;
	border-bottom: solid 1px #9B9393;
	font-size: 15px;

}

form fieldset ul li span i {
	position: absolute;
	color: #9B9393;
}




*/ .remember-me {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/*padding*/

}

.remember-me {
	width: 100%;
	display: flex;
	justify-content: space-between;
	color: #9B9393;
	margin-top: 10px;
	cursor: pointer;
	font-size: 13px;
}

.remember-me p {
	font-size: 1px;
}

input,
progress {
	accent-color: #C24B4B;
}

#checkbox {
	cursor: pointer;
}

.remember-reset p {
	margin: 0;

}

/* 이게 뭐더라 */

button {
	width: 80%;
	height: 40px;
	border-radius: 10px;
	background-color: #C24B4B;
	transition: all ease-in-out 0.15s;
	cursor: pointer;
	border: none;
	font-size: 16px;
	color: #FFFFFF;
	margin: 30px
}

button:hover {
	background-color: #D17D7D;
}

button:active {
	background-color: #E4C8C8;
}

.sns {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #9B9393;
	font-size: 13px;
}

.sns-login {
	display: flex;
	padding: 0;

}

.sns img {
	width: 25px;
	height: 25px;
}

.sns-login div {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	margin: 20px;
}

.kakao {
	width: 40px;
	height: 40px;
	background-color: #FEE500;
	border-radius: 50%;
	margin: 0 17px;
}

.naver {
	width: 40px;
	height: 40px;
	background-color: #03C75A;
	border-radius: 50%;
	margin: 0 17px;
}

.naver img {
	width: 20px;
	height: 20px;
}


.google {
	width: 40px;
	height: 40px;
	background-color: #FFFFFF;
	border-radius: 50%;

	margin: 0 17px;
}

.yet {
	color: #9B9393;
	font-size: 12px;
	margin-top: 250px;
}


.right a {
	/*display: block;*/
	padding-left: 10px;
	font-size: 14px;
	color: #C24B4B;
	cursor: pointer;
}