@charset "UTF-8";

/* 페이지 스크롤바 없애기 */
html, html::-webkit-scrollbar{
	overflow: hidden;
}

section {
	width: 100vw;
	height: 100vh;
	margin-top: 200px;
	
	background-image: url(./../assets/reading-side.svg);
	background-size: 20%;
    background-repeat: no-repeat;
    background-position: bottom 200px left 30px;
    
}
/* 검색창 로고 */
.h-logo-name {
    padding-top: 17px;
}

/* 검색창 */
.search-box-p {
	display: flex;
	margin: 0 auto;
	align-items: center;
	background-color: #F9E8E8;
	border-radius: 50px;
	max-width: 700px; /* 반응형을 위해 조정된 최대 너비 */
	height: 60px;
}

.search-box {
	padding: 20px; /* 반응형을 위해 조정된 안쪽 여백 */
    width: 100%; /* 반응형을 위해 조정된 너비 */
	height: 50px;
	background-color: transparent;
	border: none;
	outline: none;
	font-size: 20px;
	
}

.search-box:focus {
    outline: none;
}

.search-box::placeholder {
    font-size: 18px;
    
}

/* 검색(돋보기) 버튼 */
.search-btn{
	margin-right: 31px;
	background-color: transparent;
	border: none;
	
	/* 호버 시 이미지 겹치기 */
	position: relative;
}

.search-btn-red{
	/* 호버 시 이미지 겹치기 */
	position: absolute;
	top: 1px;
	left: 6px;
	display: none;
}

.search-btn:hover .search-btn-red{
	/* 호버 시 이미지 겹치기 */
	display: block;
}

/* 검색 결과 텍스트 */
.result-text{
	margin-top: 60px;
	margin-left: 430px;
	margin-bottom: 20px;
}

/* 장르 선택 셀렉트 옵션 */
.select-genre{
	position: relative;
	left: 683px;
	border: none;
	outline: none;
}

/* 검색 결과 이미지 부모 Div */
.result-all{
	width: 70%;
	height: 65%;
	margin: 0 auto;
	padding-left: 60px;
	overflow: hidden;
    overflow-y: scroll;
    
}

/* 스크롤바 없애기 */
.result-all::-webkit-scrollbar {
    display: none;
    
}

/* 검색 결과 이미지 자식 Div */
.result-card{
	display: inline-block;
	width: 400px;
	margin-top: 40px;
	margin-bottom: 50px;
	text-align: center;
}

/* 책 이미지 */
.book-img{
	width: 230px;
}

/* 책 제목 */
.book-title{
	margin-top: 13px;
}

/* 1920x1080 해상도에 대한 미디어 쿼리 추가 */
@media screen and (min-width: 1920px) and (max-height: 1080px) {
    section {
        
    }

    .search-box-p {
        
    }

    .search-box {
        
    }

}

/* 2560x1080 해상도에 대한 미디어 쿼리 추가 */
@media screen and (min-width: 2560px) and (max-height: 1080px) {
    section {
        
    }

    .search-box-p {
        
    }

    .search-box {
        
    }
    
	/* 검색 결과 텍스트 */
	.result-text{
		margin-left: 740px;
		
	}
	
	/* 장르 선택 셀렉트 옵션 */
	.select-genre{
		left: 690px;
		
	}
	/* 검색 결과 이미지 부모 Div */
	.result-all{
		width: 60%;
	    padding-left: 150px;
	}

}